.Home {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-user {
  color: #fff;
}

.App-btn {
  color: #fff;
}

.chat__area {
  display: flex;
  gap: 50px;
}

.chat__box {
  display: flex;
  flex-direction: column;
}

.box__message {
  margin-top: 20px;
  overflow-y: scroll;
  max-height: 200px;
}
