.routerNav {
  background-color: #282c34;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.navItem {
  list-style: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #000;
  border: 2px solid #ccc;
  background-color: rgb(168, 166, 166);
  padding: 5px;
}
